html {
  user-select: none;
}

.grid {
  display: grid;
  width: 900px;
  height: 900px;
  border: 1px solid #c1c1c1;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c1c1c1;
}

.temporary {
  width: 100%;
  height: 100%;
  background-color: #252525;
  transform: rotate(-20deg);
  border-radius: 3px;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: 
}

@keyframes example {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
